API_PORT=9000

# Configurações do Banco de Dados
DB_USUARIO=desafio
DB_SENHA=sua_senha_aqui
DB_URL=localhost
DB_PORT=3306
DB_NOME=brasil

# New Relic
APP_NAME=api-itens
NEW_RELIC_LICENSE_KEY=sua_chave_aqui
